.cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #f7cb3c94;
    pointer-events:none;
    z-index: 9999;
  }


.navigation {
    display: flex;
}

.logo {
    flex: 1;
}

.logo img {
    padding-left: 100px;
    padding-top: 15px;
    
}


.menus {
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding-top: 25px;
}

.menus div {
    flex: 1;
}



.contact {
    flex: 1;
    text-align: center;

}

.contact button {
    width: 80px;
    height: 30px;
    background-color: #fff;
    border: 0.3px solid #333333;
    border-radius: 6px;
    margin-top: 25px;
}

.main-text-img {
    display: flex;
    animation: fade-out 2s ease-in forwards; 
}
@keyframes fade-out
 {
    from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }}

.main-text {
    flex: 30%;
    padding-top: 60px;
    padding-left: 150px;
}

.text1-bold {
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 70px;
    /* or 111% */
    color: #1D4645;
    opacity: 0;
    animation: fade-in 2s ease-in forwards; 
}

@keyframes fade-in {
    from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }}


.sm-text {
    font-style: normal;
    font-size: 16px;
    line-height: 32px;
    padding-top: 15px;
}

.login-rig {
    padding-top: 15px;
    display: flex;
}

.input {
   
    border-radius: 8px;
    display: flex;
}
.input input{
    border-radius: 8px;
    height: 30px;
    border:1px solid #1D4645;
}

.input span {
    height: 30px;
    border-radius: 8px;
    margin-right: 5px;
}
.reg-btn {
    margin-left: 10px; /* Add some spacing between the input field and registration button */
  }

.reg-btn button {
    height: 30px;
    width: 100px;
    background-color: #E8C5B0;
    border: none;
    color: #1D4645;
    border-radius: 8px;
}

.sm-text-2 {
    font-family: Commissioner;
    font-size: 20px;
    padding-top: 20px;
}

.sm-text-3 {
    font-family: Commissioner;
    font-size: 20px;
    padding-top: 5px;
    color: #1D4645;
    font-size: 40px;
    font-weight: 800;
}

.img-div {
    flex: 50%;
}

.img-div img {
    width: 700px;
    height: auto;
    padding-right: 70px;
    padding-top: 55px;
}

@media screen and (min-width: 480px) and (max-width: 786px) {
    .cursor{
        display: none;
    }
    .logo img {
        padding-left: 0px;
        padding-top: 0px;
         width:50%;
         height: auto;  
    }

    .menus{
        flex-direction: column;
        padding: 0px;        
    }

    .menus div {
        border-bottom: 1px solid #1D4645;

    }
    .contact button {
      margin: 25px;
    }

    .main-text {
        flex: 30%;
        padding-top: 20px;
        padding-left: 20px;
    }

    .main-text-img {
        display: flex;
        margin-top: 10px;
        animation: scaleUp  3s  ease-in left;
    }
    
    .text1-bold {
        font-size: 25px;
        line-height: 28px;
    }

    .sm-text {
        font-style: normal;
        font-size: 14px;
        padding-top: 8px;
        line-height: 16px;
    }
    
    .login-rig {
        padding-top: 12px;
        flex-direction: column;
    }
    
    .input {
        height: 30px;
    }
    
    .input span {
        height: 30px;
        border-radius: 8px;
    }
    
    .input input {
        border: 1px solid #D3D3D3;
        background: #F2F2F2;
        height: 25px;
        border-radius: 8px;
    }

    .reg-btn {
        margin-left: 35px;
        padding-top: 2px; /* Add some spacing between the input field and registration button */
      }
    
    .reg-btn button {
        height: 25px;
        width: 100px;
        background-color: #E8C5B0;
        border: none;
        color: #1D4645;
        border-radius: 8px;
    }
    
    .sm-text-2 {
        font-family: Commissioner;
        font-size: 14px;
        padding-top: 20px;
    }
    
    .sm-text-3 {
        font-family: Commissioner;
        padding-top: 5px;
        color: #1D4645;
        font-size: 25px;
        font-weight: 800;
    }

    .img-div img {
        width: 280px;
        height: auto;
        padding:0px;
        overflow: hidden;
        justify-content: center;
        margin: 0;
    }
}

/* section 2 starts from here */
.section-2 {
    background-color: #1D4645;
    height: auto;
    padding-top: 60px;
    padding-left: 150px;
}

.sec-2-text {
    font-family: 'Commissioner';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #fff;
    overflow: hidden;
}

.cards-line-01 {
    display: flex;
}

.card-1 img {
    padding-top: 60px;
    width: 350px;
    flex: 1;
}

.card-2 img {
    padding-top: 30px;
    width: 350px;
    flex: 1;
}

.card-3 img {
    padding-top: 0px;
    width: 350px;
    flex: 1;
}


.section-3 {
    background-color: #fff;
    height: auto;
    padding-left: 150px;
}

.cards-line-02 {
    display: flex;
    text-align: center;
}

.card-4 img {
    padding-top: 60px;
    width: 350px;
    flex: 1;
}

.card-5 img {
    padding-top: 30px;
    width: 350px;
    flex: 1;
}

.card-6 img {
    padding-top: 0px;
    width: 350px;
    flex: 1;
}
@media screen and (min-width: 100px) and (max-width: 786px) {
    .section-2 {
        padding-top: 60px;
        padding-left: 0px;
    } 
    .sec-2-text {
        font-size: 20px;
        padding-left: 20px;
    }

    .section-3 {
        padding-left: 0px;
    }
    .cards-line-01, .cards-line-02 {
       flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .card-1 img, .card-2 img, .card-3 img{
        padding-top: 0px;
        width: 250px;  
    }

    .card-4 img, .card-5 img, .card-6 img{
        padding-top: 0px;
        width: 250px;
    } 
}


.text-and-btn {
    display: flex;
    padding-left: 150px;
}

.text-sec4 {
    flex: 1;
    font-family: 'Commissioner';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 35px;
    text-transform: capitalize;
    color: #1D4645;
  
}

.btn-sec4 {
    flex: 1;
    text-align: center;
}

.btn-sec4 button {
    margin-top: 18px;
    height: 30px;
    width: 100px;
    border: 1px solid #1D4645;
    color: #1D4645;
    background-color: rgba(255, 255, 255, 0.712);
    
}

.section-5{
    padding-left: 150px;
    padding-right: 150px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.gallary-1{
    display: flex;
   
}

.gal-1{
    display: flex;
    flex: 2;
    background-color: #1D4645;
    margin-right: 5px;
    
}
.gal-1-text{
    flex: 2.5;
    background-color: #1D4645;
 padding-left: 20px;
}

.gal-1-text h4{
    font-family: 'Commissioner';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    margin-top: 150px;
}
.gal-1-text p{
    font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;
color: #D2D2D2;
}

.gal-1-img1{
    flex: 1;
    width: 250px;
    text-align: center;
    padding-right: 5px;
    padding-top: 5px;
}



.gal-2{
    flex: 1;
    background-color: #FFF2E6;
    text-align: center;
}
.gal-2 p{
    padding-top: 50px;
 font-family: 'Commissioner';
font-style: normal;
font-weight: 700;
font-size: 40px;
color: #1D4645;

}

.gal-1-img2{
    width: 150px;
    padding-top: 20px;
}
.gal-2-1{
    display: flex;
    padding-top: 5px;
    overflow: hidden;
text-align: center;
}

.gal-3{
    flex: 1;
    width: 200px;
    background-color: #1D4645;
    margin-right: 5px;
}

.gal-3 p{
    padding-top: 50px;
    font-family: 'Commissioner';
   font-style: normal;
   font-weight: 700;
   font-size: 40px;
   color: #fff;
}

.gal-4{
    background-color: #FFF2E6;
    flex: 1;
    margin-right: 5px;
}
.gal-4 p{
    padding-top: 50px;
    font-family: 'Commissioner';
   font-style: normal;
   font-weight: 700;
   font-size: 40px;
   color:#1D4645;
}

.gal-5{
    background-color: #1D4645;
    flex: 1;
}

.gal-5 p{
    padding-top: 50px;
    font-family: 'Commissioner';
   font-style: normal;
   font-weight: 700;
   font-size: 40px;
   color: #fff;
}

.gal-1-img3,  .gal-1-img5{
    padding-top: 80px;
    width: 150px;
    height:auto;
}
.gal-1-img4{
    width: 150px;
    height:auto; 
    padding-top: 92px;
}